In [2]:
import helper

In [3]:
import seaborn as sns
df_iris = sns.load_dataset("iris")

In [4]:
df_iris15 = df_iris.sample(15, random_state = 1)
df_iris15

     sepal_length  sepal_width  petal_length  petal_width     species
14            5.8          4.0           1.2          0.2      setosa
98            5.1          2.5           3.0          1.1  versicolor
75            6.6          3.0           4.4          1.4  versicolor
16            5.4          3.9           1.3          0.4      setosa
131           7.9          3.8           6.4          2.0   virginica
56            6.3          3.3           4.7          1.6  versicolor
141           6.9          3.1           5.1          2.3   virginica
44            5.1          3.8           1.9          0.4      setosa
29            4.7          3.2           1.6          0.2      setosa
120           6.9          3.2           5.7          2.3   virginica
94            5.6          2.7           4.2          1.3  versicolor
5             5.4          3.9           1.7          0.4      setosa
102           7.1          3.0           5.9          2.1   virginica
51            6.4          3.2           4.5          1.5  versicolor
78            6.0          2.9           4.5          1.5  versicolor

In [5]:
df_iris15t = df_iris15[['petal_width', 'species']]
df_iris15t

     petal_width     species
14           0.2      setosa
98           1.1  versicolor
75           1.4  versicolor
16           0.4      setosa
131          2.0   virginica
56           1.6  versicolor
141          2.3   virginica
44           0.4      setosa
29           0.2      setosa
120          2.3   virginica
94           1.3  versicolor
5            0.4      setosa
102          2.1   virginica
51           1.5  versicolor
78           1.5  versicolor

In [6]:
df_iris15t.sort_values(by='petal_width')

     petal_width     species
14           0.2      setosa
29           0.2      setosa
16           0.4      setosa
44           0.4      setosa
5            0.4      setosa
98           1.1  versicolor
94           1.3  versicolor
75           1.4  versicolor
51           1.5  versicolor
78           1.5  versicolor
56           1.6  versicolor
131          2.0   virginica
102          2.1   virginica
141          2.3   virginica
120          2.3   virginica

Sp1 recebe o mínimo e sp2  recebe o máximo do intervalo entre as classes e divide por 2

In [13]:
sp1 = 0.75
sp2 = 1.80
df_iris15t.loc[:,('petal_width <= sp1')] = df_iris15t['petal_width'].apply(lambda x : x <= sp1).values
df_iris15t.loc[:,('petal_width <= sp2')] = df_iris15t['petal_width'].apply(lambda x : x <= sp2).values
df_iris15t

     petal_width     species  petal_width <= sp1  petal_width <= sp2
14           0.2      setosa                True                True
98           1.1  versicolor               False                True
75           1.4  versicolor               False                True
16           0.4      setosa                True                True
131          2.0   virginica               False               False
56           1.6  versicolor               False                True
141          2.3   virginica               False               False
44           0.4      setosa                True                True
29           0.2      setosa                True                True
120          2.3   virginica               False               False
94           1.3  versicolor               False                True
5            0.4      setosa                True                True
102          2.1   virginica               False               False
51           1.5  versicolor               False                True
78           1.5  versicolor               False                True

In [8]:
df_iris15t.sort_values(by='petal_width')

     petal_width     species  petal_width <= sp1  petal_width <= sp2
14           0.2      setosa                True                True
29           0.2      setosa                True                True
16           0.4      setosa                True                True
44           0.4      setosa                True                True
5            0.4      setosa                True                True
98           1.1  versicolor               False                True
94           1.3  versicolor               False                True
75           1.4  versicolor               False                True
51           1.5  versicolor               False                True
78           1.5  versicolor               False                True
56           1.6  versicolor               False                True
131          2.0   virginica               False               False
102          2.1   virginica               False               False
141          2.3   virginica               False               False
120          2.3   virginica               False               False

Calculando o ganho de informação de cada um dos splitPoints

In [15]:
helper.ganho_de_informacao(df_iris15t, 'petal_width <= sp1', 'species')

0.9182958340544896

In [17]:
helper.ganho_de_informacao(df_iris15t, 'petal_width <= sp2', 'species')

0.8366407419411672

Observamos que o maior ganho de informação foi do split point xsp1

.

Por isso, esse é o valor do atributo de petal_width que dividiu o conjunto em duas partes, maximizando o ganho de informação.

Outra forma de escrever isso é:

Cálculo para sepal_length

In [18]:
df_iris15t = df_iris15[['sepal_length', 'species']]
df_iris15t

     sepal_length     species
14            5.8      setosa
98            5.1  versicolor
75            6.6  versicolor
16            5.4      setosa
131           7.9   virginica
56            6.3  versicolor
141           6.9   virginica
44            5.1      setosa
29            4.7      setosa
120           6.9   virginica
94            5.6  versicolor
5             5.4      setosa
102           7.1   virginica
51            6.4  versicolor
78            6.0  versicolor

In [22]:
df_iris15t.sort_values(by='sepal_length')

     sepal_length     species
29            4.7      setosa
98            5.1  versicolor
44            5.1      setosa
16            5.4      setosa
5             5.4      setosa
94            5.6  versicolor
14            5.8      setosa
78            6.0  versicolor
56            6.3  versicolor
51            6.4  versicolor
75            6.6  versicolor
141           6.9   virginica
120           6.9   virginica
102           7.1   virginica
131           7.9   virginica

In [25]:
sp1 = 4.9
sp2 = 5.1
sp3 = 5.5
sp4 = 5.7
sp5 = 5.9
sp6 = 6.75
df_iris15t.loc[:,('sepal_length <= sp1')] = df_iris15t['sepal_length'].apply(lambda x : x <= sp1).values
df_iris15t.loc[:,('sepal_length <= sp2')] = df_iris15t['sepal_length'].apply(lambda x : x <= sp2).values
df_iris15t.loc[:,('sepal_length <= sp3')] = df_iris15t['sepal_length'].apply(lambda x : x <= sp3).values
df_iris15t.loc[:,('sepal_length <= sp4')] = df_iris15t['sepal_length'].apply(lambda x : x <= sp4).values
df_iris15t.loc[:,('sepal_length <= sp5')] = df_iris15t['sepal_length'].apply(lambda x : x <= sp5).values
df_iris15t.loc[:,('sepal_length <= sp6')] = df_iris15t['sepal_length'].apply(lambda x : x <= sp6).values
df_iris15t.sort_values(by='sepal_length')

,sepal_length,species,sepal_length <= sp1,sepal_length <= sp2,sepal_length <= sp3,sepal_length <= sp4,sepal_length <= sp5,sepal_length <= sp6
29,4.7,setosa,True,True,True,True,True,True
98,5.1,versicolor,False,True,True,True,True,True
44,5.1,setosa,False,True,True,True,True,True
16,5.4,setosa,False,False,True,True,True,True
5,5.4,setosa,False,False,True,True,True,True
94,5.6,versicolor,False,False,False,True,True,True
14,5.8,setosa,False,False,False,False,True,True
78,6.0,versicolor,False,False,False,False,False,True
56,6.3,versicolor,False,False,False,False,False,True
51,6.4,versicolor,False,False,False,False,False,True
75,6.6,versicolor,False,False,False,False,False,True
141,6.9,virginica,False,False,False,False,False,False
120,6.9,virginica,False,False,False,False,False,False
102,7.1,virginica,False,False,False,False,False,False
131,7.9,virginica,False,False,False,False,False,False

In [26]:
helper.ganho_de_informacao(df_iris15t, 'sepal_length <= sp1', 'species')

0.11271663672563381

In [30]:
helper.ganho_de_informacao(df_iris15t, 'sepal_length <= sp2', 'species')

0.13826892807646396

In [31]:
helper.ganho_de_informacao(df_iris15t, 'sepal_length <= sp3', 'species')

0.4176441670993605

In [32]:
helper.ganho_de_informacao(df_iris15t, 'sepal_length <= sp4', 'species')

0.36298956253708536

In [33]:
helper.ganho_de_informacao(df_iris15t, 'sepal_length <= sp5', 'species')

0.6294732983598408

In [35]:
helper.ganho_de_informacao(df_iris15t, 'sepal_length <= sp6', 'species')

0.8366407419411672