In [4]:
import helper

In [6]:
import seaborn as sns
df_iris = sns.load_dataset("iris")

In [7]:
df_iris15 = df_iris.sample(15, random_state = 1)
df_iris15

     sepal_length  sepal_width  petal_length  petal_width     species
14            5.8          4.0           1.2          0.2      setosa
98            5.1          2.5           3.0          1.1  versicolor
75            6.6          3.0           4.4          1.4  versicolor
16            5.4          3.9           1.3          0.4      setosa
131           7.9          3.8           6.4          2.0   virginica
56            6.3          3.3           4.7          1.6  versicolor
141           6.9          3.1           5.1          2.3   virginica
44            5.1          3.8           1.9          0.4      setosa
29            4.7          3.2           1.6          0.2      setosa
120           6.9          3.2           5.7          2.3   virginica
94            5.6          2.7           4.2          1.3  versicolor
5             5.4          3.9           1.7          0.4      setosa
102           7.1          3.0           5.9          2.1   virginica
51            6.4          3.2           4.5          1.5  versicolor
78            6.0          2.9           4.5          1.5  versicolor

In [9]:
df_iris15t = df_iris15[['petal_width', 'species']]
df_iris15t

     petal_width     species
14           0.2      setosa
98           1.1  versicolor
75           1.4  versicolor
16           0.4      setosa
131          2.0   virginica
56           1.6  versicolor
141          2.3   virginica
44           0.4      setosa
29           0.2      setosa
120          2.3   virginica
94           1.3  versicolor
5            0.4      setosa
102          2.1   virginica
51           1.5  versicolor
78           1.5  versicolor

In [10]:
df_iris15t.sort_values(by='petal_width')

     petal_width     species
14           0.2      setosa
29           0.2      setosa
16           0.4      setosa
44           0.4      setosa
5            0.4      setosa
98           1.1  versicolor
94           1.3  versicolor
75           1.4  versicolor
51           1.5  versicolor
78           1.5  versicolor
56           1.6  versicolor
131          2.0   virginica
102          2.1   virginica
141          2.3   virginica
120          2.3   virginica

In [15]:
sp1 = 0.75
sp2 = 1.80
df_iris15t.loc[:,('petal_width <= sp1')] = df_iris15t['petal_width'].apply(lambda x : x <= sp1).values
df_iris15t.loc[:,('petal_width <= sp2')] = df_iris15t['petal_width'].apply(lambda x : x <= sp2).values
df_iris15t

     petal_width     species  petal_width <= sp1  petal_width <= sp2
14           0.2      setosa                True                True
98           1.1  versicolor               False                True
75           1.4  versicolor               False                True
16           0.4      setosa                True                True
131          2.0   virginica               False               False
56           1.6  versicolor               False                True
141          2.3   virginica               False               False
44           0.4      setosa                True                True
29           0.2      setosa                True                True
120          2.3   virginica               False               False
94           1.3  versicolor               False                True
5            0.4      setosa                True                True
102          2.1   virginica               False               False
51           1.5  versicolor               False                True
78           1.5  versicolor               False                True

In [17]:
df_iris15t.sort_values(by='petal_width')

     petal_width     species  petal_width <= sp1  petal_width <= sp2
14           0.2      setosa                True                True
29           0.2      setosa                True                True
16           0.4      setosa                True                True
44           0.4      setosa                True                True
5            0.4      setosa                True                True
98           1.1  versicolor               False                True
94           1.3  versicolor               False                True
75           1.4  versicolor               False                True
51           1.5  versicolor               False                True
78           1.5  versicolor               False                True
56           1.6  versicolor               False                True
131          2.0   virginica               False               False
102          2.1   virginica               False               False
141          2.3   virginica               False               False
120          2.3   virginica               False               False